* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

h2 h3 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  0% {
    border-top-color: #9356DC;
  }
  25% {
    border-top-color: #f5edff;
  }
  50% {
    border-top-color: #FF79DA;
  }
  100% {
    border-top-color: #99E2D0;
  }
}
@keyframes loader {
  100% {
    opacity: 0;
  }
}
.footer {
  background-color: #353535;
  color: #FFFFFF;
  padding-top: 20px;
  text-align: center;
}
.footer a {
  color: #FFFFFF;
}
.footer i {
  color: #FFFFFF;
}

.research {
  background-color: #eaeaea;
  text-align: center;
  width: 100%;
}
.research input {
  background-color: #eaeaea;
  height: 70px;
  border: none;
}

.description {
  background-color: #f6f6f6;
  text-align: center;
  width: 100%;
  padding: 30px;
}
.description p {
  font-weight: 300;
  padding: 15px;
}

.fonctionnement .title_fonctionnement {
  text-align: center;
}
.fonctionnement ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.fonctionnement .bloc {
  font-size: 20px;
  padding: 25px;
  margin: 25px;
  background-color: #f6f6f6;
  width: 450px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 5px 5px gray;
}
.fonctionnement .bloc:hover {
  background-color: #f5edff;
}
.fonctionnement .bloc:hover i {
  color: #9356DC;
}
.fonctionnement .number {
  display: flex;
  justify-content: left;
  align-items: center;
}
.fonctionnement .content {
  border-radius: 50%;
  background-color: #9356DC;
  width: 50px;
  height: 50px;
  padding: 15px;
  text-align: center;
  align-items: center;
  color: #FFFFFF;
  position: absolute;
}
.fonctionnement i {
  color: grey;
  padding: 15px;
  font-size: 20px;
}
.fonctionnement span {
  font-size: 16px;
  color: #000000;
  font-weight: bold;
}

.restaurant {
  background-color: #eaeaea;
  padding: 20px;
  margin: 5px;
}
.restaurant h3 {
  margin-top: 30px;
  margin-bottom: 15px;
}
.restaurant .menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #eaeaea;
}
.restaurant .menu .card {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.restaurant .menu .card__new {
  background-color: #99E2D0;
  color: #038868;
  padding: 10px;
  position: relative;
  left: 80%;
  top: 10px;
  height: 30px;
}
.restaurant .menu .card figure {
  background-color: #FFFFFF;
  width: 100%;
  border-radius: 25px 25px 25px 25px;
}
.restaurant .menu .card figure img {
  border-radius: 25px 25px 0px 0px;
  width: 100%;
  height: 80%;
  margin-top: 0px;
  padding: 0;
  cursor: pointer;
}
.restaurant .menu .card figure figcaption {
  border-radius: 0px 0px 25px 25px;
  box-shadow: 0 5px #eaeaea;
  margin: 0;
  padding: 20px;
}
.restaurant .menu .card .fa-heart {
  position: relative;
  left: 90%;
}
.restaurant .menu .card .fa-heart:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  font-weight: bold;
  animation: fill 0.5s ease-in-out;
}

.btn {
  border: none;
  border-radius: 15px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  cursor: pointer;
  font-weight: 800;
  font-size: 16px;
  padding: 17px;
  transform: scale(1);
  transition: transform 0.3s;
}
.btn:hover {
  transform: scale(1.15);
}

/*# sourceMappingURL=style.css.map */
