.btn {
    border: none;
    border-radius: 15px;
    background: linear-gradient($secondary, $primary);
    color: white;
    font-weight: 800;
    font-size: 16px;
    padding: 17px;
    cursor: pointer;
}