.research {
    background-color: $ligntGray;
    text-align: center;
    width: 100%;
    input {
        background-color: $ligntGray;
        height: 70px;
        border: none;
    }
}

.description {
    background-color: $gainsboro;
    text-align: center;
    width: 100%;
    padding: 30px;
    p {
        font-weight: 300;
        padding: 15px;
    }
}

//fonctionnement
.fonctionnement {
    .title_fonctionnement {
        text-align: center;
    }
    ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .bloc {
        font-size: 20px;
        padding: 25px;
        margin: 25px;
        background-color: $gainsboro;
        width: 450px;
        cursor: pointer;
        border-radius: 15px;
        box-shadow: 0 5px 5px gray;
        &:hover {
            background-color: $mediumPurpule;
            i {
                color: $primary;
            }
        }
    }
    .number {
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .content {
        border-radius: 50%;
        background-color: $primary;
        width: 50px;
        height: 50px;
        padding: 15px;
        text-align: center;
        align-items: center;
        color: $white;
        position: absolute;
    }
    i {
        color: grey;
        padding: 15px;
        font-size: 20px;
    }
    span {
        font-size: 16px;
        color: $black;
        font-weight: bold;
    }
}

//restaurant
.restaurant {
    background-color: $ligntGray;
    padding: 20px;
    margin: 5px;
    h3 {
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: $ligntGray;
        .card {
            display: flex;
            justify-content: center;
            padding: 15px;
            &__new {
                background-color: $tertiare;
                color: $green;
                padding: 10px;
                position: relative;
                left: 80%;
                top: 10px;
                height: 30px;
            }
            figure {
                background-color: $white;
                width: 100%;
                border-radius: 25px 25px 25px 25px;
                img {
                    border-radius: 25px 25px 0px 0px;
                    width: 100%;
                    height: 80%;
                    margin-top: 0px;
                    padding: 0;
                    cursor: pointer;
                }
                figcaption {
                    border-radius: 0px 0px 25px 25px;
                    box-shadow: 0 5px $ligntGray;
                    margin: 0;
                    padding: 20px;
                }
            }
            .fa-heart {
                position: relative;
                left: 90%;
                &:hover {
                    background: -webkit-gradient(linear, left top, left bottom, from($primary), to($secondary));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    cursor: pointer;
                    font-weight: bold;
                    animation: fill 0.5s ease-in-out;
                }
            }
        }
    }
}