.research {
    background-color: $ligntGray;
    text-align: center;
    width: 100%;
    input {
        background-color: $ligntGray;
        height: 70px;
        border: none;
    }
}

.description {
    background-color: $gainsboro;
    text-align: center;
    width: 100%;
    padding: 30px;
    p {
        font-weight: 300;
        padding: 15px;
    }
}

//fonctionnement
.fonctionnement {
    .title_fonctionnement {
        text-align: center;
    }
    ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .bloc {
        padding: 20px;
        margin: 15px;
        background-color: $gainsboro;
        width: 400px;
        border-radius: 15px;
        box-shadow: 0 5px 15px $black;
        &:hover {
            background-color: $mediumPurpule;
            i {
                color: $primary;
            }
        }
    }
    .number {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content {
        border-radius: 50%;
        background-color: $primary;
        width: 50px;
        height: 50px;
        padding: 15px;
        text-align: center;
        align-items: center;
        color: $white;
        position: absolute;
    }
    i {
        color: grey;
        padding: 20px;
        font-size: 20px;
    }
    span {
        font-size: 16px;
        color: $black;
        font-weight: bold;
    }
}

//restaurant
.restaurant {
    background-color: $gainsboro;
    padding: 20px;
    margin: 5px;
    h3 {
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        img {
            cursor: pointer;
            width: 85%;
            border-radius: 15px;
        }
    }
}