.heading {
    display: flex;
    justify-content: center;
    &__image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        height: 35vh;
    }
}

// Contenu de la page 
.contain {
    width: 100%;
    position: relative;
    top: -40px;
}

.principal {
    &__page {
        background-color: $ligntGray;
        border-radius: 30px 30px 0px 0px;
        padding-bottom: 40px;
        &--title {
            display: flex;
            justify-content: space-around;
            padding: 20px;
            h1 {
                font-family: "shrikhand";
                font-size: 35px;
            }
            i {
                font-size: 32px;
            }
        }
    }
}

.case {
    &__menu {
        &__title {
            border-bottom: 3px solid $tertiare;
            width: 10%;
            margin: 25px 0px 10px 30px;
            padding-bottom: 5px;
            font-weight: lighter;
        }
    }
    &__list {
        display: block;
        position: relative;
        border-radius: 10px;
        background-color: $white;
        width: 90%;
        margin: 15px auto;
        box-shadow: 0 5px 16px $shadow;
        animation-duration: 1s;
        animation-name: check;
        transform: scale(0);
        animation-fill-mode: both;
        transform: rotate(0turn);
    }
    &__main {
        display: flex;
        &:hover .case__check {
            width: 80px;
            border-radius: 0px 10px 10px 0px;
        }
        &:hover .case__main__left {
            transform-origin: right 100%;
            width: calc(100% - 70px);
        }
        &:hover .fa-check-circle {
            transform: rotate(2turn);
            transition: transform 300ms ease-in-out;
            color: $white;
        }
        &__title {
            font-weight: bold;
            font-size: 15px;
        }
        &__left {
            position: relative;
            box-sizing: border-box;
            width: 100%;
            padding: 15px;
        }
        &__details {
            display: flex;
            padding-top: 10px;
            &__subtitle {
                width: 75%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            &__price {
                font-weight: bold;
                position: absolute;
                right: 5%;
            }
        }
    }
    &__check {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: all 0.7s ease;
        height: 100%;
        width: 0px;
        background: $tertiare;
        color: $tertiare;
    }
}