// Responsive des  pages 
@media (min-width: 1025px) {
    .heading {
        &__image {
            height: 40vh;
        }
    }
    .principal {
        &__page {
            margin-left: auto;
            margin-right: auto;
            width: 95%;
        }
    }
    .case {
        display: flex;
        &__menu {
            width: calc(33% - 3px);
        }
    }
}