$primary:#9356DC;
$mediumPurpule: #f5edff;
$secondary: #FF79DA;
$tertiare: #99E2D0;
$green:#038868;
$black: #000000;
$shadow: #0000002e;
$dimGray: #353535;
$ligntGray: #eaeaea;
$gainsboro: #f6f6f6;
$white: #FFFFFF;