@import"./libs/base.scss";
@import"./utils/media.scss";
@import"./utils/variables.scss";
@import"./utils/typography.scss";
@import"./utils/animation.scss";
@import"./utils/media.scss";
@import"./layout/footer.scss";
@import"./layout/header.scss";
@import"./layout/container.scss";
@import"./layout/restaurants.scss";
@import "./components/buttons.scss";
@import "./components/loader.scss";